//css file of dashbord
*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
	background-color: #F4F3EF;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf')
}

.header_div
{

	height: 49px;
	background-color: #F58220;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.header_left_logo
{
	/*background-color: #FF6633;*/
	background-color: #DA6807;
	color: white;
	width: 178px;

}
.header_left_logo i, .header_left_logo h5
{
	line-height: 49px;
	
}

.header_left_logo h5
{
	padding: 0;
	margin: 0;
	text-align: center;

}

.header_right
{
	float: right;
}
.header_right ul 
{
	float:right;
	line-height: 49px;

}
.header_left
{
	padding-left: 1px;
}
.header_left ul 
{
	float:left;
	margin: 0;
	padding-left: 20px;
	line-height: 49px;
	background-color: #CC6600;

}
.header_right ul li, .header_left ul li
{
	display: inline-block;
	width: 40px;
}
.header_right ul li a, .header_left ul li a
{
	color: white;
	font-weight: 100;
}
.profile_div
{
	background-color: #F58220;
	color: white;
	height: 67px;
}
.profile_div span i, .profile_div img
{
	line-height: 67px;
}
.arrow_right
{
	float: right;
	width: 10px;
}

.profile_div span
{
	line-height: 67px;
	padding: 0 0 0 4px;
}
.profile_div h5
{
	margin-bottom: 0;
	margin-top: 22px;
	font-size: 0.8em;
	/*font-family: 'Lato', sans-serif;*/
}
.profile_div h6
{
	margin-top:2px;
	font-size: 0.7em;

}
.profile_div img
{
	width: 39px;
	height: auto;
}
.sidebar_div
{
	width: 178px;
	height: 150vh;
	padding-right: 0;
    padding-left: 0;
    background-color: white;
	float: left;
}

.list_div li
{
	height: 40px;
	font-size: 0.8em;
	list-style-type: none;
}

.list_div img
{
	width: 18px;
}

.list_div ul
{
	padding-left: 0px;
}
.list_div li a
{
	padding-left: 12px;
	color:#999999;
	line-height: 40px;
}
.list_div .active
{
	background-color: #F58220;
}

.list_div .active a
{
	color: white;
}
.list_div li:hover 
{
	background-color: #F58220;
}

.list_div li:hover a
{
	color: white;
}

.content_div
{
	float: left;
	background-color: #F4F3EF;
	/*width: 1169px;
	max-width: 86%
	/*max-width: 86.8%;*/
}


.add_firm_div, .search_table_div
{
	
	width: 100%;
	margin:15px 0 15px 0;
	padding: 8px 0 8px 0;
	float:left;

}

.color_light_magenta
{
	background-color: #FFFCF5;
}
.search_table_div
{
	background-color: white;
	margin-top: 0;
}

.firm_details_div .form-control, .input-group .form-control, .search_table_div .input-group-addon
{
	border-radius: 0px;
	background-color: #F4F3EF;
	
	font-size: 0.8em;
	border:none;
	-webkit-box-shadow: none;
	box-shadow: none;

}
/*.firm_details_div .form-control, .input-group .form-control, 
{
	margin:2px 14px 7px 0;
	padding-top: 2px;
	padding-bottom: 2px;
}*/
.input-group
{
	width: 60%;
	margin-left: 7px;
	font-family: 'Lato';
}
.firm_details_div .col-xs-6,.firm_details_div .col-sm-6, .firm_details_div .col-md-6, .firm_details_div .col-lg-6, .firm_details_div .col-xs-12,.firm_details_div .col-sm-12, .firm_details_div .col-md-12, .firm_details_div .col-lg-12
{
	padding: 0 7px 0 0;
	margin-bottom: 7px;
}

.firm_details_div button
{
	width:106px;
	background-color: #F58220;
	font-size: 1.0em;
	color: white;
	border-radius: 0px;
	font-family: 'Lota', sans-serif;
	margin: 10px 0 20px 0;
}
.add_firm_div h5
{
	margin-top: 0;
	font-weight: bold;
}

.search_table_div .input-group-addon
{
	margin:0;
}

.search_table_div .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #FFFCF5;
}

.search_table_div th, .search_table_div td
{
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
		
}

.search_table_div .table tr td
{
 line-height: 35px;
}
.pagination_search
{
	float: left;
}
.pagination > li:last-child > a, .pagination > li:last-child > span, .pagination > li:first-child > a, .pagination > li:first-child > span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #888888;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
     margin-left: 0; 
     border-top-left-radius: 0px; 
     border-bottom-left-radius: 0px; 

}
.pagination li a
{
	margin-right: 20px;
	box-shadow: 3px 3px 0px 1px #dddddd;
}

.pagination .active 
{
	background-color: #F58220;
}
table .fa-plus-square
{
	color: #F58220;
}
.pagination .active i
{
	color: white
}
.pagination li a
{
	color: #888888;
}

.header_left input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 13px;
    background-color: transparent;

    background-repeat: no-repeat;
    padding: 14px 20px 14px 20px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.header_left input[type=text]:focus {
    width: 60%;
}

@media only screen and (min-width:1200px) and (max-width:2000px)
{
.col-lg-10 {
    width: 85%;
}
}

@media only screen and (min-width:991px) and (max-width:1200px)
  {
  	.col-md-8
	{
		width: 81.666667%;	
	}
}

@media only screen and (min-width:768px) and (max-width: 992px)
{ 
	.col-sm-6
{
	width: 76%;
}
}

@media only screen and (min-width:600px) and (max-width: 768px)
{
 .col-xs-6
	{
		float:left;
	 width: 500px;
	overflow-x: auto;
	}
 
 .add_firm_div
 {
 	width: 768px;
 	overflow-x: scroll;
 }
 .firm_details_div
 {
 	width: 768px;
 	overflow-x: scroll;
 }
}


@media only screen and (min-width: 320px) and (max-width: 359px)
{
	.col-xs-6
	{
		float:left;
	 	width: 142px;
	 	overflow-x: scroll;
	}

 .add_firm_div
 {
 	width: 400px;
 	overflow-x: scroll;
 }
 .firm_details_div
 {
 	width: 400px;
 	overflow-x: scroll;
 }

}
@media only screen and (min-width:360px) and (max-width: 399px)
{
	.col-xs-6
	{
		float:left;
	 width: 180px;
	overflow-x: auto;
	}
 
 .add_firm_div
 {
 	width: 768px;
 	overflow-x: scroll;
 }
	.firm_details_div
	 {
 		width: 768px;
 		overflow-x: scroll;
 	}
}
@media only screen and (min-width:400px) and (max-width: 680px)
{
	.col-xs-6
	{
		float:left;
	 width: 227px;
	overflow-x: auto;
	}
 
 .add_firm_div
 {
 	width: 768px;
 	overflow-x: scroll;
 }
	.firm_details_div
	 {
 		width: 768px;
 		overflow-x: scroll;
 	}
 	.header_right
 	{
 		width: 32%;
 	}
 	.header_left
 	{
 		width: 40%;
 	}
}

@media screen and (max-width: 480px) {

}